{% extends "base.html.twig" %}

{% block content %}
    <p><strong>Total :</strong> {{ persons|length }} individus.</p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                    <tr>
                        <td>{{ person.gramps_id }}</td>
                        <td>{{ person.surname }}</td>
                        <td>{{ person.given_name }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('person_show', {'handle': person.handle}) }}">Détails</a>
                            <a class="btn btn-primary" href="{{ path('tree_show', {'handle': person.handle}) }}">Arbre</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}