{% extends "base.html.twig" %}

{% block content %}
    <h1>{{ person.gramps_id }} — {{ person.surname }}, {{ person.given_name }}</h1>
    <h2>Événements</h2>
    <ul>
        {% for event in events %}
            <li>{{ event.type }} : {{ event.date }}</li>
        {% endfor %}
    </ul>
{% endblock %}