{% extends "base.html.twig" %}

{% block content %}
    <p><strong>Total :</strong> {{ families|length }} familles.</p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Père</th>
                    <th>Mère</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for family in families %}
                    <tr>
                        <td>{{ family.gramps_id }}</td>
                        <td>{{ family.father_surname }}, {{ family.father_given_name }}</td>
                        <td>{{ family.mother_surname }}, {{ family.mother_given_name }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('family_show', {'handle': family.handle}) }}">Détails</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}