{% extends "base.html.twig" %}

{% block content %}
    <h1>{{ family.gramps_id }} — {{ family.father_surname }}, {{ family.father_given_name }} / {{ family.mother_surname }}, {{ family.mother_given_name }}</h1>

    <h2>Événements</h2>
    <ul>
        {% for event in events %}
            <li>{{ event.type }} : {{ event.date }}</li>
        {% endfor %}
    </ul>
{% endblock %}