<!DOCTYPE html>
<html lang="fr" class="h-100">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <meta name="description" content="Adaptation mobile de GRAMPS" />

        <link rel="icon" type="image/png" href="{{ asset('/favicon.ico') }}" />

        <title>{% if block('title') is defined %}{{ block('title') }} | {% endif %}Gramps Online Viewer (Unofficial)</title>
        {% if noindex is defined %}
            <meta name="robots" content="noindex" />
        {% endif %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            {% block navbar %}
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
                    <a class="navbar-brand" href="{{ path('home') }}">Gramps Online Viewer (Unofficial)</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {% if maintenance is not defined %}
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item"><a class="nav-link" href="{{ path('tree_index') }}" title="Arbre">Arbre</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('persons_index') }}" title="Individus">Individus</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('families_index') }}" title="Familles">Familles</a></li>
                            </ul>
                        {% endif %}
                    </div>
                </nav>
            {% endblock navbar %}

            <div id="content" class="py-4">
                <div class="container">
                    {% if app.environment == 'prod' %}
                        <div class="alert alert-danger">
                            L’usage de cette application en production est fortement déconseillée. De par la conception, il est impossible d’en garantir la sécurité. Utilisez à vos propres risques.
                        </div>
                    {% endif %}
                    {% for type, messages in app.session.flashBag.all %}
                        {% for message in messages %}
                            {% include 'helper/alert.html.twig' with { 'message': message, 'type': type } only %}
                        {% endfor %}
                    {% endfor %}

                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>

        <footer class="footer mt-auto bg-secondary">
            <div id="footer-copyright" class="container">
                <a class="logo" href="{{ path('home') }}">Gramps Online Viewer (Unofficial)</a>
                <p class="copyright">Gramps Online Viewer (Unofficial) n’est affilié aucunement au projet original Gramps.</p>
            </div>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {# it's not mandatory to set the timezone in format_datetime(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
        <!-- Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->
    </body>
</html>
