{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tree') }}
{% endblock %}

{% block content %}
    <div id="familyTree">
        <div class="generation" id="grandParents">
            <div class="pair">
                <div class="card-m">
                    {% if fGdFatherPerson %}
                        <a href="{{ path('tree_show', {'handle': fGdFatherPerson.handle}) }}">{{ fGdFatherPerson.surname }}, {{ fGdFatherPerson.given_name }}</a>
                    {% else %}
                        Inconnu
                    {% endif %}
                </div>
                <div class="card-f">
                    {% if fGdMotherPerson %}
                        <a href="{{ path('tree_show', {'handle': fGdMotherPerson.handle}) }}">{{ fGdMotherPerson.surname }}, {{ fGdMotherPerson.given_name }}</a>
                    {% else %}
                        Inconnue
                    {% endif %}
                </div>
            </div>

            <div class="pair">
                <div class="card-m">
                    {% if mGdFatherPerson %}
                        <a href="{{ path('tree_show', {'handle': mGdFatherPerson.handle}) }}">{{ mGdFatherPerson.surname }}, {{ mGdFatherPerson.given_name }}</a>
                    {% else %}
                        Inconnu
                    {% endif %}
                </div>
                <div class="card-f">
                    {% if mGdMotherPerson %}
                        <a href="{{ path('tree_show', {'handle': mGdMotherPerson.handle}) }}">{{ mGdMotherPerson.surname }}, {{ mGdMotherPerson.given_name }}</a>
                    {% else %}
                        Inconnu
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="generation" id="parents">
            <div class="pair">
                <div class="card-m">
                    {% if fatherPerson %}
                        <a href="{{ path('tree_show', {'handle': fatherPerson.handle}) }}">{{ fatherPerson.surname }}, {{ fatherPerson.given_name }}</a>
                    {% else %}
                        Inconnu
                    {% endif %}
                </div>
                <div class="card-f">
                    {% if motherPerson %}
                        <a href="{{ path('tree_show', {'handle': motherPerson.handle}) }}">{{ motherPerson.surname }}, {{ motherPerson.given_name }}</a>
                    {% else %}
                        Inconnue
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="generation" id="child">
            <div class="card-{% if defaultPerson.gender == 0 %}f{% else %}m{% endif %}"><h2 class="mb-0">{{ defaultPerson.surname }}, {{ defaultPerson.given_name }}</h2></div>
        </div>


        {% if childPersons %}
            <h3>Enfants{% if spousePerson %} avec <a href="{{ path('tree_show', {'handle': spousePerson.handle}) }}">{{ spousePerson.surname }}, {{ spousePerson.given_name }}</a>{% endif %}</h3>
            <div class="row">
                {% for childPerson in childPersons %}
                    <div class="col">
                        <div class="card-{% if childPerson.gender == 0 %}f{% else %}m{% endif %}">
                            <a href="{{ path('tree_show', {'handle': childPerson.handle}) }}">{{ childPerson.surname }}, {{ childPerson.given_name }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}